* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  background-color: #121212;
}
footer {
  background-color: #121212;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer ul li {
  text-decoration: none;
  list-style: none;
  color: white;
}
footer ul li a {
  text-decoration: none;
  color: white;
}
#botonBurger {
  border: none;
  font-size: 1.6rem;
}
.sidebar {
  max-width: 60%;
  background-color: #121212;
}
.filter-btns {
  text-align: center;
}
.filter-btn {
  background: none;
  cursor: pointer;
  border: none;
  color: white;
  display: flex;
  letter-spacing: 2px;
}
.filter-btn:hover {
  text-decoration: underline;
}
.btn-padre {
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn-hijo {
  padding-left: 5rem;
}
.buscar input {
  height: 3rem;
  padding: 0 20px;
  color: white;
  outline: none;
  border: 1px solid silver;
  border-radius: 2rem;
  background-color: #121212;
}
#boton-carrito {
  color:  rgba(255, 255, 255, 0.582);
}
#boton-carrito:hover {
  color: white;
}
.contadorCarrito {
  font-size: 22px;
}
#contenedor-productos {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}
.producto {
  margin-bottom: 5rem;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.card {
  width: 15rem;
}
.card-title {
  letter-spacing: 2px;
}
.btn-prod {
  background-color: #121212;
  color: white;
}
.btn-prod:hover {
  color: white;
}

.productoEnCarrito {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boton-eliminar {
  background-color: white;
  color: #121212;
  border: none;
}
.boton-eliminar:hover {
  cursor: pointer;
}
.invisible {
  position: absolute; 
  left: -999em;
}